---
layout: home
title: 
permalink: index.html
---

<div class="columns is-multiline">

    <div class="column is-half is-offset-one-quarter">
        <div class="content">

            <div class='nickname'>@{{site.github.username}}</div>
            <div class='name'>류지원</div>

            <br><br>

            <div>
                <div>Experience</div>
                {% for item in site.data.home.experience %}
                <hr>
                <div>{{ item.name }}</div>
                <div>{{ item.date }}</div>
                <div>{{ item.jobPosition }}</div>
                <div>
                    {% for skill in item.skills %}
                    <span>
                        #{{ skill }}
                    </span>
                    {% endfor %}
                </div>
                {% endfor %}
                <hr>
            </div>


            <div>
                <div>Skill</div>
                <div>
                    {% for platform in site.data.home.skills.platforms %}
                    <span>{{ platform }}</span>
                    {% endfor %}
                </div>
                <div>
                    {% for lan in site.data.home.skills.language %}
                    <span>{{ lan }}</span>
                    {% endfor %}
                </div>
                <div>
                    {% for item in site.data.home.skills.Etc %}
                    <span>{{ item }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
</div>